.user-container{
        flex: 4;
        /* background: red; */
        padding: 20px;
      
    }

   .user-title-container{
            padding: 20px;

    }
.user-container-id{
    display: flex;
    margin-top: 20px;


}



.user-title-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.user-btn{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: seagreen;
    font-size: 16px;

}

.user-show{ 
    flex:1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
            
}
.user-update{
    /* background: green; */
    /* width: 100%; */
    flex:2;
    box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
    -webkit-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
    -moz-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
    margin-left: 20px;
    
}

.user-show{
        padding: 20px;
}
.user-show-top{
    display: flex;

}
.user-show-img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-showTop-title{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;

        }
    

.user-show-name{
        font-weight: 600;
}
 .user-show-job{
            font-weight: 200;
 }


 .user-show-info-title{
    font-size: 14px;
    font-weight: 600;
    color: lightslategray
 }

 .user-show-botton{
    margin-top: 20px;


 }

 .user-show-info{
        display: flex;
        align-items: center;
        margin: 20px 0 ;
        color: lightgray;
 }

 .user-show-info-title{
        margin-left: 10px;
 }





 /* RUGHT SECTION STYLE */

 .user-update{
        padding: 10px;
        /* background: RED;; */
 }
 .user-update-form{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;  
    /* padding:20px; */


}

.user-update-item{
        display:flex;
        flex-direction: column;
        margin-top: 10px;
}

.user-update-title{
        font-size: 24px;
        font-weight: 600;
        /* padding: 10px; */
}
 .user-upated-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;

 }


 .user-update-item > label{
        margin-bottom: 5px;
        font-size: 14px;
 }

 .user-udpdate-input{
        border:none;
        width: 250px;
        height: 30px;
        border-bottom: 1px solid gray;
 }

 .user-updated-right{
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

                                                /*  */
 .user-updated-upload{
        display: flex;
        align-items: center;
        justify-content: space-between;

 }

 .user-update-button{
        border: none;
        border-radius: 5px;
        padding: 5px;
        background-color:blue;
        font-weight: 400;
        cursor: pointer;
        color: #fff;
 }