.chart-container{
        /* background-color:red; */
        margin: 20px;
        padding: 20px;
        box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
}

.chart-title{
        margin-bottom: 20px;
}