.product-list-container{
        flex: 4;
        /* background:red; */

}
/* .product-list-containe{
        display: flex;
        align-items: center;
} */

.product-list-image{
        display: flex;
        align-items: center;
}
.product-list-image{
    width: 32px;
    height: 32px;
    border-radius:50%;
    object-fit: cover;
    margin-right: 10px;

}


.product-list-Edit{
    border: none;
    border-radius:10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

.product-list-action{
    display:flex;
    align-items:center;
}
.product-list-delete{
    color: red;
    cursor: pointer;
}