.widget-large-conatainer{
        flex:2;
        /* background-color: pink; */
        padding:20px;
        box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
        -webkit-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
        -moz-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
                
        margin-left: 20px;
                
}

.widget-large-title{
                font-size: 22px;
                margin-bottom: 10px;
}


.widget-large-th{
        text-align: left;               
}
.widget-large-img{      
        width: 40px;
        height: 40px;
        margin-right: 10px;
}

.widget-large-user{
                display: flex;
                align-items: center;
                
}

.widget-large-date{
                font-weight: 300;
}

.widget-large-button{
                padding: 5px 7px;
                border:none;
                border-radius: 10px;
}


.widget-large-button.Approved{
                background-color:rgb(247, 235, 235);
                color: green;
                
}

.widget-large-button.Pending{
        background-color:rgb(245, 236, 236);
        color: blue;
        
}

.widget-large-button.Declined{
        background-color:rgb(245, 236, 236);
        color: red;
}

.widget-large-table{
                /* background-color: red; */
                width: 100%;
}
