.userlist-container{
        flex:4;
        /* background-color:red; */
}


.user-list-User{
    display: flex;
    align-items: center;
}


.user-list-image{
        width: 32px;
        height: 32px;
        border-radius:50%;
        object-fit: cover;
        margin-right: 10px;
}

.user-list-Edit{
        border: none;
        border-radius:10px;
        padding: 5px 10px;
        background-color: #3bb077;
        color: #fff;
        cursor: pointer;
        margin-right: 10px;
}

.user-list-action{
        display:flex;
        align-items:center;
}
.user-list-delete{
        color: red;
        cursor: pointer;
}