.topbar{
        width: 100%;
        height: 50px;
        /* background-color:red; */
        position:sticky;
        top: 0;
        z-index: 999;
       
    
}

.topbar-wrapper{
        height: 100%;
        /* background-color:yellow; */
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 30px ;
    color: darkblue
}

.topbar-icon-container{
        position: relative;
        cursor: pointer;
        margin-right: 10px;
        color:#555;
}

.top-right{
        display: flex;
        align-items: center;
}

.top-icon-badge{
        width: 15px;
        height: 15px;
        position: absolute;
        top: -5px;
        right: 5px;
        background-color: red;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
    
}

.top-avdatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
}