.product-container{
        flex:4;
        /* background: red; */
        padding: 20px;
}

.product-title{
        display: flex;
        align-items: center;
        justify-content: space-between;

}

.product-button{
        width: 80px;
        border:none;
        padding: 5px;
        background: teal;
        border-radius: 5px;
        font-size: 12px;

}




.product-top{
    display: flex;
}


.product-top-left, .product-top-right{
        flex: 1;
}

.product-top-right{
        padding: 10px;
        margin: 20px;
        box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
}

.produce-info-image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
         object-fit: cover;
         margin-right: 10px;
}       


.product-info-top{
        display: flex;
        align-items: center;
   
}
.product-info-name{
        font-weight: 800;
}
.product-bottoom-top{
        margin-top:  10px; 
        /* align-items: center; */
}


.product-info-item{
    width: 150px;
   
}


                                        
.product-value{
        font-weight: 200;
}

.product-bottom {
    padding: 10px;
    margin: 20px;
    box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 20px 0px rgba(0,0,0,0.75);
}


.product-form{
    display: flex;
    justify-content: space-between;
}


.product-form-left{
    display: flex;
    flex-direction: column;
}

.product-form-left > label{
    margin-bottom: 20px;
    color: gray;
    
}

.product-form-left > input{
        border:none;
        margin-bottom: 10px;
        padding: 5px;
        border-bottom: 1px solid gray;
        outline: none;
}
.product-form-left > select{
    margin-bottom: 15px;
}
.pruduct-upload-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.product-form-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.product-upload-image{
    display: flex;
    align-items: center;
}

.upload-product-button{
    padding:5px;
    border: none;
    background: darkblue;
    color: white;
    border-radius:5px;
}