.featured-container{
        /* background-color: red; */
        display:flex;
        align-items: center;
        justify-content: space-between;
}

.featured-item{
        flex: 1;
        margin: 0px 20px;
        padding: 30px;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
-webkit-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
-moz-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);

}

.fetured-title{
        font-size:20px
}

.fetured-money-container{
        margin: 10px 0px;
        display:flex;
        align-items:center;
}

.fetured-money{
        font-size:30px;
        font-weight: 600;
}

.fetured-money-rate{
         margin-left: 20px;
         font-size:12px;
         display: flex;
         align-items: center;
      
}

.fetured-icon {
        font-size: 20px;
        margin-top: 5px;
        color: green;
}


.fetured-icon.negative{
        color: red;

}

.featured-sub{
        font-size: 15px;
        font-weight: 800;
        color: lightgray
}