.sidebar{
        flex: 1;
        height: calc(100vh - 50px);
        position:sticky;
        top: 50px;
}

.sidebar-wrapper{
        padding: 20px;
        color:#555;

}
.sidebar-menu{
        margin-bottom: 10px;


}


.sidebar-title{
        font-size: 13px;
        color:rgb(146, 138, 138)
}


.sidebar-list{
        list-style: none;
        padding: 5px;
}
.sibarListItem{
        padding: 5px;
        cursor: pointer;
        display:flex;
        align-items: center;
        
}

.sibarListItem.active , .sibarListItem:hover {
        background-color: #B0AEAE;
}

.sidebar-icon{
        margin-right: 5px;
        font-size: 20px !important;
}


.product-info-item{
display: flex;
justify-content: space-between;
}