.widget-small-contiainer{
        flex:1;
        background: blanchedalmond;
        padding: 20px;
         box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
        -webkit-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
          -moz-box-shadow: -11px -1px 64px -34px rgba(0,0,0,0.7);
    
}

.widget-small-title{ 
        font-size: 20px;
        font-weight: 600;
}

.widget-small-image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;

}

.widget-small-list{
        margin: 0;
        padding: 0;
        list-style-type: none;
}
.widegt-small-list-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
}
.widget-small-user{
    display: flex;
    flex-direction: column;
}   

.widget-small-username{
        font-weight: 600;
}

.widget-small-username-job-title{
        font-weight: 300;
}

.widget-small-button{
        display: flex;
        align-items: center;
        padding: 7px 10px;
        border: none;
        background: #eeeef7;
        color: #555;
        cursor: pointer; 
}
.widget-small-icon{
        font-size: 1px;
        margin: 10px;
}